@import url('https://fonts.googleapis.com/css?family=Google+Sans:100,300,400,500,700,900,100i,300i,400i,500i,700i,900i&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    width: 1200px;
    display: block;
    margin: 0 auto;
}


/* Верстка */

html {
    background: #111;
    font-family: Google Sans;
}

header {
    width: 100%;
    height: 57px;
    background: #333;
    color: #fff;
    text-align: center;
    padding-top: 15px;
}

.content {
    width: 100%;
    display: grid;
    grid-template-columns: 2.5fr 7fr;
    grid-gap: 15px;
}

.menu {
    display: block;
    margin-top: 8px;
}

.But {
    background: #54ad54;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    color: #eee;
    cursor: pointer;
    display: block;
    margin: .5rem 0;
    padding: .75rem 1.5rem;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-out;
}

.But:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.lessonList {
    width: 100%;
    height: 64.4vh;
    background: #333;
    border-radius: 8px;
    color: #fff;
    overflow-y: scroll;
}

.lesson {
    width: 100%;
    height: 75px;
    padding: 20px 10px;
}

.lesson>i {
    font-size: 24px;
}

.lesson>span {
    font-size: 20px;
}

.lesson>p {
    padding-left: 27px;
    width: 97%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active {
    background: #444;
}

.lessonwindows {
    margin-top: 15px;
    padding: 10px;
    background: #333;
    border-radius: 8px;
    color: #fff;
}

.title {
    height: 35px;
}

.title>span {
    font-size: 24px;
}

.lessonwindows>iframe {
    width: 100%;
}

.fa-ellipsis-h {
    float: right;
    margin-top: 3px;
    cursor: pointer;
}

.comments {
    color: #fff;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    height: max-content;
    background: #333;
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px;
}

.comments>span {
    font-size: 23px;
    border-bottom: 1px solid #444;
}

.comment {
    margin-top: 5px;
    width: 100%;
    min-height: 100px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 99fr;
    grid-template-areas: "ava name" "ava text";
}

.comment>img {
    width: 75px;
    border-radius: 50%;
    grid-area: ava;
}

.comment>span {
    padding-top: 10px;
    grid-area: name;
    font-size: 24px;
}

.comment>p {
    margin-top: -40px;
    grid-area: text;
    color: rgb(165, 165, 165);
}

.commentInput {
    width: 100%;
}

.Input {
    width: 100%;
    border: none;
    border: 1px solid #444;
    outline: none;
    background: #444;
    height: 150px;
    resize: none;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
}

.test>span {
    font-size: 24px;
}

.answers {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
}


/* Чекбокс Кнопки */

.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: min-content;
}

.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
    background-color: #54ad54;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


/* Радио Кнопки */

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}

.custom-radio:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}

.custom-radio:focus:not(:checked)+label::before {
    border-color: #80bdff;
}

.custom-radio:checked+label::before {
    background-color: #54ad54;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio:disabled+label::before {
    background-color: #e9ecef;
}


/* Загрузка файлов */

.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
}


/* skin.css Style*/

.upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
}

.upload-drop-zone.drop {
    color: #222;
    border-color: #222;
}